# CUDA 12.6 PyTorch wheels.
--extra-index-url https://download.pytorch.org/whl/cu126

Flask==3.1.3
requests==2.33.0

numpy==2.2.6
pandas==2.3.3
opencv-python==4.13.0.92
pillow==12.1.1
matplotlib==3.10.8
scikit-learn==1.7.2

torch==2.11.0+cu126
torchvision==0.26.0+cu126
ultralytics==8.4.31
onnxruntime-gpu==1.23.2
insightface==0.7.3

comtypes==1.4.16
pykinect2 @ git+https://github.com/Kinect/PyKinect2.git@c86d575175edf5fc0834590acdfb82b55b5ccd96
